/* ----------------------------------------------------------font imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500,700&display=swap');

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
main {
  flex-direction: column;
}
/* ----------------------------------------------------utility classes */
.container {
  width: 85%;
}
.u-flex {
  display: flex;
}
.u-grid {
  display: grid;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.pink-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #E02C6D;
  padding: 10px 24px;
  margin-top: 20px;
}

/* -------------------------------------------------navigation styles */
nav {
  justify-content: space-between;
  margin: 87px 0px 42px 0px;
}
nav h1 {
  font-size: 2.5em;
  font-weight: 700;
}
.nav-buttons a {
  text-decoration: none;
  color: black;
  margin-left: 40px;
  font-size: 1.3em;
  font-weight: 600;
}
.fa-bars {
  display: none;
}

/* ---------------------------------------------------banner styles */
.main-banner {
  justify-content: space-between;
  margin: 120px 0;
}
.banner-content {
  width: 50%;
  margin: auto 0;
}
.banner-content h1 {
  font-size: 3.25em;
}
.banner-content p {
  font-weight: 600;
}
.banner-content .pink-button {
  border-radius: 25px;
}
.image-overlap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-overlap img:nth-child(1){
  position: absolute;
  right: -10px;
  z-index: -1;
}

/* --------------------------------------------------various logos styles */
.various-logos {
  width: 70%;
  margin: 50px 0px;
}
.various-logos div {
  margin: 36px 62px;
  justify-content: space-between;
}
.various-logos hr {
  border: 1px solid rgb(245, 245, 245);
}

/* -------------------------------------------------popular collections styles */
.popular-collections {
  margin: 100px 20px 0px;
  /* margin-top: 100px; */
  text-align: right;
}
.popular-collections h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.collections {
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin-top: 30px;
}
.item {
  padding: 14px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  text-align: left;
}
.item img{
  width: 100%;
  margin-bottom: 15px;
}
.item h2 {
  font-size: 28px;
  font-weight: 500;
}
.item-price {
  font-size: 24px;
}
.rating {
  margin: 8px 0;
  font-size: 12px;
}
.fa-star {
  color: orange;
  margin-right: 3px;
}
.fa-star-half-stroke {
  color: orange;
}
.rating p {
  font-size: 16px;
  margin-left: 10px;
}
.see-more-button {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #E02C6D;
}
/* -----------------------------------------------------bottom banner styles */
.bottom-banner {
  width: 75%;
  margin: 123px 0px;
}
.bottom-banner img {
  height: 100%;
}
.bottom-banner-content {
  margin: auto 0;
  margin-left: 96px;
}
.bottom-banner-content h2 {
  font-size: 38px;
  line-height: 1;
  margin-bottom: 20px;
}
.bottom-banner-content p {
  font-size: 16px;
}

/*------------------------------------------------------- footer styles */
footer {
  flex-direction: column;
  height: 240px;
  text-align: center;
  background-color: #0A0826;
  color: #fff;
}
.footer h2 {
  font-size: 24px;
}
.footer p {
  font-size: 14px;
}
.social-icons i {
  padding: 15px;
}

/* ---------------------------------------------------------media queries */
@media screen and (max-width: 576px) {
  /* ----------------------------collections media queries */
  .popular-collections {
    width: 85%;
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
  .item img{
    width: 100%;
    margin-bottom: 15px;
  }
}

/* -----------------------------------mobile devices */

@media screen and (max-width: 768px) {
  /* -----------------------------navigation media queries */
  nav {
    margin-top: 25px;
  }
  nav h1 {
    font-size: 1.3em;
  }
  nav .fa-bars {
    display: block;
  }
  nav .collapsible {
    display: none;
  }
  .nav-buttons a {
    margin-left: 0;
  }
  /* ----------------------------main banner media queries */
  .main-banner {
    flex-direction: column-reverse;
    margin-top: 70px;
  }
  .main-banner img {
    width: 80%;
  }
  .main-banner img:nth-child(1) {
    width: 90%;
    right: inherit;
  }
  .main-banner h1 {
    font-size: 36px;
  }
  .banner-content {
    margin-top: 80px;
    width: 100%;
    text-align: center;
  }
  /* --------------------------various logos media queries */
  .various-logos {
    width: 90%;
  }
  .various-logos hr {
    border: none;
  }
  .various-logos div {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    justify-content: space-around;
    row-gap: 20px;
  }
  .various-logos div img {
    flex: 0 0 21%;
  }
  /* ----------------------------collections media queries */
  


  /* -----------------------------bottom banner media queries */
  .bottom-banner {
    flex-direction: column-reverse;
  }
  .bottom-banner-content {
    text-align: center;
    margin-left: 0;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .popular-collections {
    width: 90%;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  nav h1 {
    font-size: 26px;
  }
  .nav-buttons a {
    font-size: 16px;
    margin-left: 18px;
  }
  .main-banner h1 {
    font-size: 36px;
  }
  .main-banner p {
    font-size: 16px;
  }
  .container {
    width: 90%;
  }
  .popular-collections {
    width: 90%;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .bottom-banner-content {
    margin-left: 25px;
  }
  .bottom-banner-content p {
    font-size: 14px;
  }
}
